.container{
    width: 400px;
    border: 1px solid black;
    box-shadow: 7px 7px gray;
    z-index: 0 ;
    height:300px;
}
.logoUnder{
    font-size:30px;
}
.form-text{
    font-size: 30px;
    font-weight: bold;
}

.button-container button{
    margin-top: 10px;
    border:2px solid black;
}

.button-container button:disabled{
    border: 1px solid gray;
    pointer-events: none;
}

